@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

#title__1 {
    margin-top: 40px;
    border-bottom: 2px dotted #cfe1b9;
    text-align: center;
    color: #595959;
    font-family: "Lobster", cursive;
    font-size: 30px;
    padding-bottom: 10px;
}
