@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

.circle {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.initials {
    color: #ffff;
    font-size: 60px;
    line-height: 19px;
    letter-spacing: 0.2625px;
}

.user__name {
    color: #000814;
    font-size: 30px;
    font-family: "Ubuntu Mono", monospace;
}

.user__email {
    color: #4c5b5c;
    font-family: "Ubuntu Mono", monospace;
    margin-top: 10px;
    font-size: 20px;
}

.user__phone {
    color: #4c5b5c;
    font-family: "Ubuntu Mono", monospace;
    margin-top: 8px;
    font-size: 20px;
}
