<h2 class="display-3 text-center mt-5">Control Solicitudes de mercancia</h2>
<div class="row">
    <div class="col-12">
        <!--Loading Start-->
        <div *ngIf="!tableLoad" class="loading">
            <div class="d-flex justify-content-center">
                <div class="spinner-border" style="width: 10rem; height: 10rem;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
        <!--Loading End-->
        <div *ngIf="tableLoad" class="card text-center my-4">
            <div class="card-header">
                <ul class="nav nav-pills card-header-pills">
                    <li class="nav-item">
                        <a href="javascript:void(0)" class="btn btn-primary btn-sm" (click)="fnNew()"><i class="fas fa-plus"></i> Nueva solicitud de mercancia</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Folio</th>
                            <th scope="col">Almacen</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Status</th>
                            <th scope="col">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let requisition of arrayRequisitions; let index;">
                            <th scope="row">{{ requisition.folio }}</th>
                            <td>{{ requisition.warehouse_name }}</td>
                            <td>{{ requisition.required_to | date }}</td>
                            <td>{{ requisition.status_name }}</td>
                            <!--Opciones-->
                            <td>
                                <div class="row">
                                    <div class="col-3 col-sm-3 text-center">
                                        <a href="javascript:void(0)" (click)="fnVer(requisition.id)" alt="Ver"><i class="fa fa-eye" title="Ver"></i></a>
                                    </div>
                                    <div class="col-3 col-sm-3 text-center">
                                        <a href="javascript:void(0)" (click)="fnEdit(requisition.id)" alt="Editar"><i class="fa fa-pencil" title="Editar"></i></a>
                                    </div>
                                    <div class="col-3 col-sm-3 text-center">
                                        <a href="javascript:void(0)" (click)="fnChangheStatus(requisition.id)" alt="Cambiar Status"><i class="fas fa-exchange-alt" title="Cambiar Status"></i></a>
                                    </div>
                                    <div class="col-3 col-sm-3 text-center">
                                        <a href="javascript:void(0)" (click)="fnDelete(requisition.id)" alt="Eliminar"><i class="fa fa-trash text-danger" title="Eliminar"></i></a>
                                    </div>
                                    <div class="col-3 col-sm-3 text-center">
                                        <a href="javascript:void(0)" (click)="fnCheckRequisition(requisition.id)" alt="Aceptar"><i class="fas fa-check-circle" title="Aceptar"></i></a>
                                    </div>
                                    <div class="col-3 col-sm-3 text-center">
                                        <a href="javascript:void(0)" (click)="fnGenerateCollectionOrder(requisition.id)" alt="Crear hoja de recoleccion"><i class="fas fa-arrow-circle-right" title="Crear hoja de recoleccion"></i></a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<ng-template #myModal let-MyModal>
    <div [ngSwitch]="currentView">
        <div>
            <div class="modal-header">
                <h2 *ngIf="!show">{{ arrayViewsNames[currentView] }}</h2>
                <h2 *ngIf="show">{{ arrayViewsNames[currentView+1] }}</h2>
            </div>
            <div *ngSwitchCase="0" class="modal-body">
                <!--New-->
                <form novalidate role="form" [formGroup]="newForm" class="row">
                    <div class="container">
                        <div class="form-group">
                            <h3>Fecha de peticion</h3>
                            <div class="input-group">

                                <input class="form-control" formControlName="date" placeholder="yyyy-mm-dd" name="firstdp" [(ngModel)]="firstDate" ngbDatepicker #d="ngbDatepicker">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-12">

                    </div>
                    <div class="container">
                        <div class="wrapper">
                            <div class="panel-body table-responsive">
                                <table class="table">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col"></th>
                                            <th scope="col">Producto</th>
                                            <th scope="col">Cantidad</th>
                                            <th scope="col">Opciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let product of arrayOrderProducts" class="">
                                            <th></th>
                                            <td>{{ product.name }}</td>
                                            <td>{{ product.quantity }}</td>
                                            <td>
                                                <a *ngIf="!show" class="btn btn-danger" (click)="fnDeleteProduct(product.id)"><i class="fas fa-trash"></i></a>
                                            </td>
                                        </tr>
                                        <tr *ngIf="!show">
                                            <th scope="row"></th>
                                            <td>
                                                <select class="form-control" [(ngModel)]="currentProduct.id" [ngModelOptions]="{standalone: true}" (ngModelChange)='onOptionsSelected($event)'>
                                                    <option *ngFor="let producto of arrayProducts;let index" [value]="producto.id">{{producto.name}}</option>
                                                </select>
                                            </td>
                                            <td>
                                                <input formControlName="quantity" class="form-control" type="text" placeholder="Cantidad" [(ngModel)]="currentProduct.quantity">
                                            </td>
                                            <td><a *ngIf="!show" class="btn btn-primary" (click)="fnAddProduct()"><i class="fas fa-plus"></i> Crear</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div *ngIf="errorProducts" class="text-danger">
                            <p>Debe agregar por lo menos un producto a la hoja.</p>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary mx-auto" [disabled]="newForm.invalid" (click)="onSubmitNew()">Agregar</button>
                </form>
            </div>
            <div *ngSwitchCase="1" class="modal-body">
                <!--Edit - View-->
                <form novalidate role="form" [formGroup]="newForm" class="row">
                    <div class="container">
                        <div class="form-group">
                            <h3>Fecha de peticion</h3>
                            <div *ngIf="!show" class="input-group">
                                <input class="form-control" formControlName="date" placeholder="yyyy-mm-dd" name="firstdp" [(ngModel)]="firstDate" ngbDatepicker #d="ngbDatepicker">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                                </div>
                            </div>
                            <div *ngIf="show">
                                <input class="form-control" formControlName="date" placeholder="yyyy-mm-dd" name="firstdp" [(ngModel)]="firstDate" ngbDatepicker #d="ngbDatepicker" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-12">

                    </div>
                    <div class="container">
                        <div class="wrapper">
                            <div class="panel-body table-responsive">
                                <table class="table">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th></th>
                                            <th scope="col">Producto</th>
                                            <th scope="col">Cantidad</th>
                                            <th *ngIf="!show" scope="col">Opciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let product of arrayOrderProducts" class="">
                                            <td></td>
                                            <td>{{ product.name }}</td>
                                            <td>{{ product.quantity }}</td>
                                            <td>
                                                <a *ngIf="!show" class="btn btn-danger" (click)="fnDeleteProduct(product.id)"><i class="fas fa-trash"></i></a>
                                            </td>
                                        </tr>
                                        <tr *ngIf="!show">
                                            <th scope="row"></th>
                                            <td>
                                                <select class="form-control" [(ngModel)]="currentProduct.id" [ngModelOptions]="{standalone: true}" (ngModelChange)='onOptionsSelected($event)'>
                                                    <option *ngFor="let producto of arrayProducts;let index" [value]="producto.id">{{producto.name}}</option>
                                                </select>
                                            </td>
                                            <td>
                                                <input formControlName="quantity" class="form-control" type="text" placeholder="Cantidad" [(ngModel)]="currentProduct.quantity">
                                            </td>
                                            <td><a *ngIf="!show" class="btn btn-primary" (click)="fnAddProduct()"><i class="fas fa-plus"></i> Crear</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <button *ngIf="!show" type="button" class="btn btn-primary mx-auto" (click)="onSubmitEdit()">Actualizar</button>
                </form>
            </div>
            <div *ngSwitchCase="3" class="modal-body">
                <!--Hoja general de recoleccion - View-->
                <!-- <form novalidate role="form" [formGroup]="newForm" class="row"> -->
                <!-- <div class="container">
                        <div class="form-group">
                            <h3>Fecha de peticion</h3>
                            <div *ngIf="!show" class="input-group">
                                <input class="form-control" formControlName="date" placeholder="yyyy-mm-dd" name="firstdp" [(ngModel)]="firstDate" ngbDatepicker #d="ngbDatepicker">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                                </div>
                            </div>
                            <div *ngIf="show">
                                <input class="form-control" formControlName="date" placeholder="yyyy-mm-dd" name="firstdp" [(ngModel)]="firstDate" ngbDatepicker #d="ngbDatepicker" disabled>
                            </div>
                        </div>
                    </div> 
                    <div class="form-group col-md-6 col-sm-12">

                    </div> -->
                <div class="container">
                    <div class="wrapper">
                        <div class="panel-body table-responsive">
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th></th>
                                        <th scope="col">Producto</th>
                                        <th scope="col">Cantidad</th>
                                        <th scope="col">Cantidad Autorizada</th>
                                        <th scope="col">Proveedor</th>
                                        <th *ngIf="!show" scope="col">Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- <tr *ngFor="let product of arrayOrderProducts;let indexOfElement = index;" class=""> -->
                                    <tr *ngFor="let product of arrayGeneralProduct; let indexOfElement = index;" class="">
                                        <td></td>
                                        <td>{{ product.name }}</td>
                                        <td>{{ product.quantity }}</td>
                                        <td>
                                            <input type="text" class="form-control" placeholder="Cantidad Autorizada" x [(ngModel)]="product.quantity_real">
                                        </td>
                                        <td>
                                            <select class="form-control" [(ngModel)]="product.provider_id">
                                                        <!-- <option *ngFor="let provider of arrayProviders.filter(fnProviderContainsProduct.bind(this,product.id));let index" 
                                                        [value]="provider.id">{{provider.name}}</option> -->
                                                        <option *ngFor="let provider of fnFilterProvidersByProductId(product.id);let index;" 
                                                        [value]="provider.id">{{provider.name}}</option>
                                                    </select>
                                        </td>
                                        <td>
                                            <a *ngIf="!show" class="btn btn-danger" (click)="fnDeleteProductToGeneral(product.id)"><i class="fas fa-trash"></i></a>
                                        </td>
                                    </tr>
                                    <tr *ngIf="!show">
                                        <th scope="row"></th>
                                        <td>
                                            <select class="form-control" [(ngModel)]="currentProduct.id" [ngModelOptions]="{standalone: true}" (ngModelChange)='onOptionsSelected($event)'>
                                                <option *ngFor="let producto of arrayProducts;let index" [value]="producto.id">{{producto.name}}</option>
                                            </select>
                                        </td>
                                        <td>
                                            <input class="form-control" type="text" placeholder="Cantidad" [(ngModel)]="currentProduct.quantity">
                                        </td>
                                        <td>
                                            <select class="form-control" [(ngModel)]="currentProduct.provider_id">
                                                    <!-- <option *ngFor="let provider of arrayProviders.filter(fnProviderContainsProduct.bind(this,product.id));let index" 
                                                    [value]="provider.id">{{provider.name}}</option> -->
                                                    <option *ngFor="let provider of fnFilterProvidersByProductId(currentProduct.id);let index;" 
                                                    [value]="provider.id">{{provider.name}}</option>
                                                </select>
                                        </td>
                                        <td><a *ngIf="!show" class="btn btn-primary" (click)="fnAddProductToGeneral()"><i class="fas fa-plus"></i> Agregar</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div *ngIf="errorGeneralProduct.length > 0">
                        <span class="text-danger text-center col-md-12">{{ errorGeneralProduct }}</span>
                    </div>
                    <br>
                    <div class="col-md-12 text-center">
                        <button *ngIf="!show" type="button" class="btn btn-primary mx-auto" (click)="fnCreateGeneralRecolectionOrder()">Generar hoja de recoleccion general.</button>
                    </div>
                    <br>
                </div>
                <!-- </form> -->
            </div>
            <div class="modal-footer">
                <div>
                    <button class="btn btn-danger" (click)="MyModal.close()">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>