/* You can add global styles to this file, and also import other style files */
/* =================================== */
/*  Style 
/* =================================== */

@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

body {
  background-color: #fff;
  font-family: 'Roboto';
  line-height: 1;
	font-size: 15px;
  color: #a8a8a8;
}
section h2{
  font-family: "Kaushan Script";
}

ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

figure, p {
    margin: 0;
}

a {
    -webkit-transition: all .3s ease-in 0s;
       -moz-transition: all .3s ease-in 0s;
        -ms-transition: all .3s ease-in 0s;
         -o-transition: all .3s ease-in 0s;
            transition: all .3s ease-in 0s;
}

iframe {
    border: 0;
}

a, a:focus, a:hover {
    text-decoration: none;
    outline: 0;
}

a:focus, a:hover {
    color: inherit;
}

h1, h2, h3,
h4, h5, h6 {
    font-family: 'Roboto';
	font-weight: normal;
	margin: 0;
}

.clear:before,
.clear:after {
    content: " ";
    display: table;
}
 
.clear:after {
   clear: both;
}
 
.clear {
   *zoom: 1;
}

body > section {
    padding: 100px 0;
}

.section-title {
  margin: 0 auto 85px;
}

.section-title h2 {
  color: #1f2021;
  font-size: 30px;
  position: relative;
  margin-bottom: 25px;
  padding-bottom: 27px;
  text-transform: uppercase;
}

.section-title h2:before {
  border-bottom: 1px solid #1f2021;
  bottom: 0;
  content: "";
  left: 50%;
  margin-left: -50px;
  position: absolute;
  width: 100px;
}

.section-title h2:after {
background: none repeat scroll 0 0 #fff;
border: 1px solid #1F2021;
border-radius: 25px;
bottom: -6px;
content: "";
height: 11px;
left: 50%;
margin-left: -5.5px;
position: absolute;
width: 11px;
}

.section-title p {
    line-height: 25px;
    font-weight: 300;
    font-size: 13px;
}

.btn {
    border-radius: 5%;
}

.btn:hover,
.btn:focus {
    outline: 0;
}

.btn-blue {
  background-color: #ffd154;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  padding: 10px 35px;
}

.kill-margin {
    margin: 0 !important;
}