<div class="bg-image">
</div>
<div class="big-container">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="col-md-6 my-container">
                <div class="my-container-header">
                    <h2>Recuperacion de contraseña</h2>
                </div>
                <div *ngIf="beforeSend" class="my-container-form">
                    <form role="form" novalidate [formGroup]="passwordForm">
                        <div class="my-inputs" style="color:white;">
                            Introduce tu correo para recuperar contraseña.
                            <small *ngIf="emailError" class="text-danger">Hubo un problema con el correo introducido.</small>
                            <input class="my-input-text" type="text" placeholder="Email" formControlName="username">
                        </div>
                        <div class="row button-submit">
                            <div class="col-12 align-self-center">
                                <button class="idetificate-button" type="submit" value="Identificarse" (click)="onSubmit()">Recuperar</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div *ngIf="afterSend" class="my-container-form">
                    <h4 style="color: white;margin:5px;padding:5px;text-align: center;">Se envio una liga para recuperar su contraseña.</h4>
                </div>
                <div *ngIf="beforeSend" class="my-container-bottom">
                    <p>¿No eres miembro? <a href="javascript:void(0)" (click)="fnRegister()">  Registrate</a></p>
                </div>
                <div *ngIf="afterSend" class="my-container-bottom">
                    <p>
                        <a href="javascript:void(0)" (click)="fnLogin()">
                            <p>Ir a inicio de sesion</p>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>