@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

.container {
    margin-top: 15px;
    border: 1px solid #fdd023;
    border-radius: 10px;
    box-shadow: 3px 3px 9px #fdd023;
    padding: 20px;
}

.tab > ul > li > a {
    text-decoration: none;
    color: #7b8384;
    font-family: "Ubuntu Mono", monospace;
    font-size: 15px;
}

.active {
    color: #4c5b5c;
}
