<!--<main>
    <section class="section section-shaped section-lg">
        <div class="shape shape-style-1 bg-gradient-default">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="container pt-0">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card bg-secondary shadow border-0">

                        <div class="card-body px-lg-5 py-lg-4">
                            <div class="text-center text-muted mb-3">
                                <p>Registrate</p>
                            </div>
                            <form role="form" novalidate [formGroup]="newUserForm">

                                <div class="form-group">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                        </div>
                                        <input class="form-control" placeholder="Nombre" type="text" formControlName="nombre">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                        </div>
                                        <input class="form-control" placeholder="Numero Telefono" type="text" formControlName="numero" maxlength="13">
                                    </div>
                                    <div *ngIf="error_phone" class="text-danger">
                                        <small>El telefono ya esta en uso.</small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                        </div>
                                        <input class="form-control" placeholder="RFC" type="text" formControlName="rfc">
                                    </div>
                                    <div *ngIf="error_rfc" class="text-danger">
                                        <small>El RFC no es valido.</small>
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                        </div>
                                        <input class="form-control" placeholder="Email" formControlName="correo">
                                    </div>
                                    <div *ngIf="newUserForm.get('correo').errors?.required && newUserForm.get('correo').touched"> <small>Se requiere email</small> </div>
                                    <div *ngIf="newUserForm.get('correo').errors?.email && newUserForm.get('correo').touched"> <small>Email no valido</small> </div>
                                    <div *ngIf="error_email" class="text-danger"> <small>El email esta siendo usado por otro usuario.</small> </div>

                                </div>
                                <div class="form-group">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                        </div>
                                        <input class="form-control" placeholder="Contraseña" type="password" formControlName="password">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                        </div>
                                        <input class="form-control" placeholder="Verificar contraseña" type="password" formControlName="passwordVerify">
                                    </div>
                                    <div *ngIf="passwordVerify"> <small class="text-success">Contraseñas correctas</small> </div>

                                </div>


                                <div class="text-center">
                                    <button type="button" class="btn btn-primary my-4" (click)="onSubmit()" [disabled]="newUserForm.invalid">Registrar</button>
                                </div>
                            </form>
                            <div class="row mt-3">
                                <div class="col-6">
                                    <a>
                                        <small routerLink="/auth/login" routerLinkActive="active">Ya tienes cuenta? Inicia sesion.</small>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-6">
                            <a href="javascript:void(0)" class="text-light" (click)="goBack()">
                                <small>Regresar</small>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>-->
<div class="bg-image">
</div>
<div class="big-container">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="col-md-6 my-container">
                <div class="my-container-header">
                    <h2>Bienvenido</h2>
                    <p>Al registrarse, estas aceptando nuestros Terminos de uso y Politica de privacidad</p>
                </div>
                <div class="my-container-social">
                    <div class="identificate">
                        <p>Registrate con tus redes sociales</p>
                    </div>
                    <div class="my-buttons">
                        <button class="google-button"><i class="fa fa-google"></i></button>
                        <button class="facebook-button"><i class="fa fa-facebook"></i></button>
                    </div>
                </div>
                <div class="line-divider">
                    <span class="white-line"></span> <span class="white-line"></span>
                </div>
                <div class="my-container-form">
                    <form role="form" novalidate>
                        <div class="my-inputs">
                            <input class="my-input-text" type="text" placeholder="Nombre" formControlName="nombre">
                            <input class="my-input-text" type="email" placeholder="Email" formControlName="correo">
                            <input class="my-input-text" type="text" placeholder="Numero" formControlName="numero">
                            <input class="my-input-text" type="password" placeholder="Contraseña" formControlName="password">
                            <input class="my-input-text" type="password" placeholder="Confirma contraseña" formControlName="passwordVerify">
                        </div>
                        <div class="row bottom-text">
                            <div class="col-12 col-md-12 col-sm-12 justify-content-start remember-me">
                                <input type="checkbox" id="checkPass">
                                <label for="checkPass">He leido los terminos y condiciones.</label>
                            </div>
                        </div>
                        <div class="row button-submit">
                            <div class="col-12 align-self-center">
                                <button class="idetificate-button" type="submit" value="Identificarse" (click)="onSubmit()">Registrate</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="my-container-bottom">
                    <p>¿Tienes cuenta? <a href="javascript:void(0)" (click)="fnLogin()">  Inicia sesion</a></p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>