<h2 class="display-3 text-center mt-5">Nueva Direccion</h2>
<div class="row">
    <div class="col-12">
        <div class="card my-4">
            <div class="card my-4">
                <div class="card-header">
                    <ul class="nav nav-pills card-header-pills">
                        <li class="nav-item">
                            <a class="btn btn-danger btn-sm" href="javascript:void(0)" routerLinkActive="active" [routerLink]="['/store/address']"><i class="fas fa-arrow-left"></i> Regresar</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <form role="form" novalidate class="row" [formGroup]="newAddressForm">
                        <div class="form-group col-md-6 col-sm-12">
                            <label>Calle</label>
                            <input type="text" class="form-control" placeholder="Calle" formControlName="street">
                        </div>
                        <div class="form-group col-md-6 col-sm-12">
                            <label>Numero</label>
                            <input type="text" class="form-control" placeholder="Numero" formControlName="number">
                        </div>
                        <div class="form-group col-md-6 col-sm-12">
                            <label>Codigo Postal</label>
                            <input type="text" class="form-control" placeholder="Codigo Postal" formControlName="zip_code">
                        </div>
                        <div class="form-group col-md-6 col-sm-12">
                            <label>Suburb</label>
                            <input type="text" class="form-control" placeholder="Suburb" formControlName="suburb">
                        </div>
                        <div class="form-group col-md-6 col-sm-12">
                            <label>ID Municipio</label>
                            <input type="text" class="form-control" placeholder="Municipio" formControlName="municipality_id">
                        </div>
                        <button type="button" class="btn btn-primary mx-auto" [disabled]="this.newAddressForm.invalid" (click)="onSubmit()">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>