.table-responsive {
    max-height: 300px;
}

.wrapper {
    position: relative;
}

.overlay th {
    background-color: #212121;
    color: white;
    position: absolute;
    top: 0;
}

.my-modal-container {
    width: 100%;
}