<div>
    <button class="btn btn-lg btn-success" (click)="open(SessionModalTemplate)">Iniciar Sesión</button>
</div>
<ng-template #SessionModalTemplate let-c="close" let-d="dismiss">

    <div class="modal-header">
        <h4 class="modal-title">{{tabs[currentComponent].title}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" [ngSwitch]="currentComponent">

        <app-login *ngSwitchCase="0" (changeComponent)="changeComponent($event)" (closeModalEvent)="d('Cross click')">
        </app-login>

        <app-register *ngSwitchCase="1" (changeComponent)="changeComponent($event)">
        </app-register>

        <app-forgot-password *ngSwitchCase="2" (changeComponent)="changeComponent($event)"></app-forgot-password>

    </div>

</ng-template>