<div class="row justify-content-center">

    <!-- Back to login button -->
    <div class="col-12">
        <button (click)="goToLogin()" class="btn btn-warning btn-sm mb-3 text-white">
            <i class="fas fa-arrow-left"></i> Iniciar Sesión
        </button>
    </div>

    <!-- Instruction form -->
    <div class="col-12" *ngIf="!isEmailSent">
        <h2 style="font-size: 15px;  color: rgba(33, 32, 32, 0.76);" class="text-mutted">Ingresa tu usuario y
            enviaremos un mensaje a tu correo
            electrónico ligado a tu cuenta</h2>
    </div>

    <!-- Form -->
    <div class="col-8">
        <div *ngIf="!isEmailSent">
            <form role="form" novalidate [formGroup]="recoverForm" class="form-group">

                <input class="form-control" type="text" placeholder="Ingresa tu usuario" formControlName="username">

                <!-- Submit Button -->
                <button [disabled]="waitRequest" class="btn btn-info btn-block mt-3" type="submit" (click)="onSubmit()">
                    <i class="fa fa-spinner fa-spin" *ngIf="waitRequest"></i>
                    {{ waitRequest ? 'Enviando' : 'Enviar'}}
                </button>

            </form>
        </div>
    </div>


    <!-- Alerts -->
    <ngb-alert *ngIf="isEmailSent" [dismissible]="false" type="success">Hemos enviado el correo de recuperación
        exitosamente!</ngb-alert>
    <ngb-alert *ngIf="hasError" [dismissible]="false" type="danger">{{ checkError('username') ? errors['username'] :
        'Ocurrio un error enviando el correo, intentelo más
        tarde'}}</ngb-alert>

</div>