<header class="navbar-fixed-top">
    <div class="container" >
        <div class="navbar-header">
            <nav class="navbar navbar-expand-md navbar-light mb-3" style="background-color: trasparent;">

                <!-- logo -->
                <a href="#">
                    <img src="../../../../assets/images/logoVerinte (1) (1) (1).png" alt="Verinte Logo">
                </a>
                <!-- /logo -->

                <!-- responsive nav button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="f">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- /responsive nav button -->
                
                <div class="navigation navbar-collapse collapse navbar-collapse navbar-right" id="navbarCollapse">
                    <div style="margin-top: 1.5rem;">
                        <ul class="navbar-nav navbar-center">
                            <li>

                                <!--
                                    #Search Bar
                                    ========================== -->
                                    <div style="margin-right: 2rem; margin-left: 2rem;">
                                        <div class="search-bar">
                                            <form class="text-center">
                                                <label for="searchQuery"></label>
                                                <input type="search" id="searchQuery" name="searchQuery" placeholder="¿Qué producto buscas?" style="background-color: transparent;"/>
                                            </form>
                                                <button>
                                                    <i class="fa fa-search" style="color: black;"></i>
                                                </button>
                                        </div>
                                    </div>
                                    
                                    <!--
                                        End #Search Bar
                                        ========================== -->
                                    
                                    </li>
                                    <li class="current"><div style="margin-top: 0.8rem;"><a class="nav-link" href="#home">INICIO</a></div></li>
                                    <li class=""><div style="margin-top: 0.8rem;"><a class="nav-link" href="#service">CÓNOCENOS</a></div></li>
                                    <li class="nav-item"><div style="margin-top: 0.8rem;"><a class="nav-link" href="#portfolio">TIENDA</a></div></li>
                                    <li class="nav-item"><div style="margin-top: 0.8rem;"><a class="nav-link" href="#about">CONTACTO</a></div></li>
                                    <li *ngIf="!isLogged" class="nav-item"><div style="margin-top: 0.8rem;"><a class="nav-link" href="javascript:void(0)" (click)="open()">INICIAR SESIÓN</a></div></li>
                                    <li *ngIf="isLogged" class="nav-item dropdown"><div style="margin-top: 0.8rem;">
                                        <a class="nav-link" href="javascript:void(0)" (click)="goToProfile()">Bienvenido {{isLogged.name}}</a></div>
                                        <a class="dropdown-item" aria-labelledby="dropdownMenuLink" (click)="logout()" href="javascript:void(0)">Cerrar sesión</a>
                                    </li>
                                    <li><div style="margin-top: 0.8rem; padding-left: 1rem;"><a (click)="gotToShoppingCart()" class="btn"><i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i></a></div></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
</header>