/*************************
*******Search******
**************************/

.search-bar {
    margin-right: 5rem;
    margin-top: 1.5rem;
    margin-left: 5rem;
    display: grid;
    grid-template-columns: 1fr 3rem;
    grid-gap: 10px;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
  
  .search-bar > * {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  
  .search-bar form {
    display: grid;
    grid-template-columns: 1rem 1fr;
    grid-gap: 10px;
    padding-left:0.5rem;
  }
  
  .search-bar form > * {
    padding-top: 0.5rem;
    padding-right: 0.5rem;
  }
  
  .search-bar form input[type="search"] {
    font-size: 1.5rem;
    border:0;  
    padding-left: 0.5rem;
    padding-right: 0.5rem; 
    outline: none;
    letter-spacing: 1px;
  }
  
  .search-bar button {
    border:0;
    background-color: #ffd154;
    opacity: 0.5;
    cursor: pointer;
  }
  
  .search-bar button:hover {
    opacity: 0.5;
  }
  
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
  }
  
  /*************************
  *******End-Search******
  **************************/

/*************************
*******Navigation******
**************************/

#navigation,
.navbar-brand,
.navbar-toggle,
.navbar-nav > li > a,
.search-form > #search-sub {
  -webkit-transition: all 0.6s ease;
     -moz-transition: all 0.6s ease;
      -ms-transition: all 0.6s ease;
       -o-transition: all 0.6s ease;
          transition: all 0.6s ease;
}

.animated-nav .navbar-brand {
  padding: 15px 0;
}

.animated-nav .navigation .navbar-nav > li > a {
  padding: 23px 25px;
}

#navigation > .container {
  border-bottom: 1px solid #636364;
}

.animated-nav#navigation > .container {
  border-bottom: none;
}

.navbar-brand {
  height: inherit;
  padding: 30px 0;
}

.navbar-brand a {
  display: block;
}

.navigation .navbar-nav > li > a {
  color: #000;
  font-size: 13px;
  font-weight: 600;
  padding: 38px 25px;
  text-transform: uppercase;
}

.navigation .navbar-nav > li.current > a {
  color: #ffd154;
  border-bottom: 1px solid #ffd154;
}

.animated-nav .navigation .navbar-nav > li.current > a {
  color: #000;
  border-bottom: 1px solid #000;
}

.navigation .navbar-nav > li > a:focus,
.navigation .navbar-nav > li > a:hover {
  background-color: transparent;
}

.search-form {
  position: relative;
}

.search-form > #search {
  width: 100%;
}

.search-form > #search {
  background-color: transparent;
  height: 40px;
    border: 0 ;
  margin-top: 28px;
  width: 100%;
}

.search-form > #search-sub {
  background: url("../../../../assets/images/icons/search.png") no-repeat scroll 0 0 transparent;
  border: 0 ;
  bottom: 11px;
  height: 15px;
  position: absolute;
  right: 8px;
  padding: 0;
  text-indent: -9999em;
  width: 15px;
}

.animated-nav .search-form > #search-sub {
    bottom: 22px;
}

/*************************
*******End Navigation******
**************************/

































/*
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Autour+One&display=swap");

* {
    color: #000;
    font-family: "roboto";
    letter-spacing: 1px;
    font-weight: 800;
}

.login-button {
    background-color: transparent;
    border: 1.5px solid #10842e;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    margin-left: 2vw;
    font-size: 1rem;
    cursor: pointer;
}
.login-button:hover {
    color: #131418;
    background-color: #4cc942;
    border: 1.5px solid #4cc942;
    transition: all ease-in-out 350ms;
}

.navbar {
    padding: 0 0px;
    box-shadow: 0 3px 20px #ffc22e;
    display: flex;
}

.navbar.li {
    padding-left: 10px;
}

.navbar-nav.navbar-center {
    position: relative;
    left: 25%;
    transform: translatex(-25%);
}
.navbar-nav.navbar-right {
    position: relative;
    left: 55%;
    transform: translatex(-55%);
}

.navbar-brand > img {
    height: 100%;
    padding: 15px;
    width: auto;
}
.navbar .dropdown .dropdown-menu {
    margin-top: 0;
    border-top: none;
    border-radius: 0;
}
@media (min-width: 768px) {
    .dropdown:hover > .dropdown-menu {
        display: block;
    }
    .dropdown .dropdown-toggle::after {
        display: none;
    }
    .dropdown .dropdown-toggle:active {
        pointer-events: none;
    }
}

.navbar {
    padding: 8px 16px;
}
.navbar .dropdown .dropdown-toggle {
    padding: 0 10px;
    line-height: 40px;
    position: absolute;
    top: 0;
    right: 0;
}
*/