<!--
Fixed Navigation
==================================== -->
<header id="navigation" class="navbar-fixed-top">

     <!--
        #Search Bar
        ========================== -->
        <div class="search-bar">
            <form>
              <label for="searchQuery">
                <!-- <i class="fa fa-leaf"></i> -->
              </label>
              <input type="search" id="searchQuery" name="searchQuery" placeholder="¿Qué producto buscas?" style="background-color: transparent;"/>
            </form>
            <button>
              <i class="fa fa-search" style="color: black;"></i>
            </button>
          </div>
          <!--
        End #Search Bar
        ========================== -->

        <div class="container">
            <div class="navbar-header">

                <!-- responsive nav button -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- /responsive nav button -->

                <!-- logo -->
                <h1 class="navbar-brand">
                    <a href="#">
                        <img src="../../../../assets/images/logoVerinte (1) (1) (1).png" alt="Verinte Logo">
                    </a>
                </h1>
                <!-- /logo -->

                <!-- main nav -->
                <nav class="collapse navigation navbar-collapse navbar-right" role="navigation">
                    <ul id="nav" class="nav navbar-nav">
                        <li class="current"><a href="#home">INICIO</a></li>
                        <li><a href="#service">CÓNOCENOS</a></li>
                        <li><a href="#portfolio">TIENDA</a></li>
                        <li><a href="#about">CONTACTO</a></li>
                        <li><a href="#pricing">IDENTIFICATE</a></li>
                        <li><a href="" class="btn">
                            <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i>
                          </a></li>
                    </ul>
                </nav>
                <!-- /main nav -->

            </div>
        </div>
</header>
<!--
End Fixed Navigation
==================================== -->






































<!--
<nav class="navbar navbar-expand-md navbar-light mb-3" style="background-color: #ffd154;">
    <img style="width: 7%;" class="" src='assets/images/logo.png' alt="logo">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="f">
        <span class=" navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav navbar-center">
            <li class="nav-item ml-auto">
                <a class="nav-link" href="#">INICIO</a>
            </li>
            <li class="nav-item dropdown" style="padding-left: 30%;">
                <a class="nav-link" href="">CÓNOCENOS</a>
                <a class="dropdown-toggle " href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false"></a>
            </li>
            <li class="nav-item" style="padding-left: 30%;">
                <a class="nav-link" href="#">TIENDA</a>
            </li>
            <li class="nav-item" style="padding-left: 30%;">
                <a class="nav-link" href="#">CONTACTO</a>
            </li>
            <li *ngIf="!isLogged" class="nav-item">
                <a class="nav-link" href="javascript:void(0)" (click)="open()">
                    Identificate
                </a>
            </li>
            <li *ngIf="isLogged" class="nav-item dropdown">
                <a class="nav-link" href="javascript:void(0)" (click)="goToProfile()">Hola {{isLogged.name}}</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" (click)="logout()" href="javascript:void(0)">Cerrar sesión</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav navbar-right">

        </ul>
        <ul class="navbar-nav mr-auto">

        </ul>
    </div>
</nav>
-->