body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

img{
  height: 80px;
  width: 80px;
}

ul{
  text-align: center;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 95px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #ffd154;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
  }
  .offcanvas-collapse.open {
    visibility: visible;
    transform: translateX(-100%);
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: #10842e;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: #ffd154;
}

.nav-underline .nav-link:hover {
  color: #ffd154;
}

.nav-underline .active {
  font-weight: 500;
  color: #ffd154;
}

















































/*
.search-bar {
  height: 50px;
  width: 320px;
  display: grid;
  grid-template-columns: 1fr 3rem;
  grid-gap: 10px;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.search-bar form {
  display: grid;
  grid-template-columns: 1rem 1fr;
  grid-gap: 10px;
  padding-left:0.5rem;
}

.search-bar form input[type="search"] {
  margin-top: -1.1rem;
  font-size: 1.0rem;
  border:0;  
  outline: none;
  letter-spacing: 1px;
}

.search-bar button {
  height: 50px;
  border:0;
  background-color: #ffd154;
  opacity: 0.5;
  cursor: pointer;
}

.search-bar button:hover {
  opacity: 0.5;
}

::placeholder {
  color: black;
  opacity: 1; 
}

:-ms-input-placeholder {
  color: black;
}

::-ms-input-placeholder {
  color: black;
}

#navigation,
.navbar-brand,
.navbar-toggle,
.navbar-nav > li > a,
.search-form > #search-sub {
  -webkit-transition: all 0.6s ease;
     -moz-transition: all 0.6s ease;
      -ms-transition: all 0.6s ease;
       -o-transition: all 0.6s ease;
          transition: all 0.6s ease;
}

.animated-nav .navbar-brand {
  padding: 15px 0;
}

.animated-nav .navigation .navbar-nav > li > a {
  padding: 23px 25px;
}

#navigation > .container {
  border-bottom: 1px solid #636364;
}

.animated-nav#navigation > .container {
  border-bottom: none;
}

.navbar-brand {
  height: inherit;
  padding: 30px 0;
}

.navbar-brand a {
  display: block;
}

.navigation .navbar-nav > li > a {
  color: #000;
  font-size: 13px;
  font-weight: 600;
  padding: 38px 25px;
  text-transform: uppercase;
}

.navigation .navbar-nav > li.current > a {
  color: #ffd154;
  border-bottom: 1px solid #ffd154;
}

.animated-nav .navigation .navbar-nav > li.current > a {
  color: #000;
  border-bottom: 1px solid #000;
}

.navigation .navbar-nav > li > a:focus,
.navigation .navbar-nav > li > a:hover {
  background-color: transparent;
}

.search-form {
  position: relative;
}

.search-form > #search {
  width: 100%;
}

.search-form > #search {
  background-color: transparent;
  height: 40px;
    border: 0 ;
  margin-top: 28px;
  width: 100%;
}

.search-form > #search-sub {
  border: 0 ;
  bottom: 11px;
  height: 15px;
  position: absolute;
  right: 8px;
  padding: 0;
  text-indent: -9999em;
  width: 15px;
}

.animated-nav .search-form > #search-sub {
    bottom: 22px;
}
*/