<div>
    <div class="row">
        <div class="col-12 mb-2">
            <a href="javascript:void(0)" class="float-right" (click)="openOrCloseForm()">Cambiar Contraseña</a>
        </div>
    </div>
    <ngb-alert *ngIf="isChanged" type="success">La contraseña fue cambiada correctamente</ngb-alert>
    <div class="row animated justify-content-center mb-3" *ngIf="isOpen">
        <div class="col-6">
            <form>
                <div class="form-group">
                    <input type="password" name="current_password" class="form-control" placeholder="Contraseña actual"
                        [(ngModel)]="current_password">
                    <span *ngIf="checkError('current_password')" class="text-danger">
                        {{errors['current_password']}}</span>
                </div>
                <div class="form-group">
                    <input type="password" name="new_password" class="form-control" placeholder="Nueva contraseña"
                        [(ngModel)]="new_password">
                    <span *ngIf="checkError('new_password')" class="text-danger">
                        {{errors['new_password']}}</span>
                </div>
                <div class="form-group">
                    <input type="password" name="new_password_confirmation" class="form-control"
                        placeholder="Confirmar nueva contraseña" [(ngModel)]="new_password_confirmation">
                    <span *ngIf="checkError('new_password_confirmation')" class="text-danger">
                        {{errors['new_password_confirmation']}}</span>
                </div>
                <button class="btn btn-success" (click)="changePassword()">Cambiar</button>
            </form>
        </div>
    </div>
</div>