a {
    text-decoration: none;
    color: #98a4a4;
}

a:hover {
    border-bottom: 1px dotted #ffc600;
    color: #4c5b5c;
}

@keyframes formAnimation {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

.animated {
    animation: formAnimation 1s;
    transition: 900ms;
}
