<body>

    <nav class="navbar navbar-expand-md navbar-light" style="background-color: #ffd154;">
        <a class="navbar-brand" href="javascrpt:void(0)">
            <img style="width: 5%;" class="" src='../../../../assets/image/logoVerinte.png' alt="logoasdasdas">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                   <span class="navbar-toggler-icon"></span>
                </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">INICIO <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="">CÓNOCENOS</a>
                    <a class="dropdown-toggle " href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="">Item 1</a>
                        <a class="dropdown-item" href="#">Item 2</a>
                        <a class="dropdown-item" href="#">Item 3</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">TIENDA</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">CONTACTO</a>
                </li>
            </ul>
            <a href="javascript:void(0)" (click)="fnLogIn()">
                <ul class="navbar-nav mr-auto">
                    <li *ngIf="!login" class="nav-item">
                        <a class="nav-link" href="javascript:void(0)" (click)="fnLogIn()"><button class="login-button" href="#">Iniciar Sesión</button></a>
                    </li>
                </ul>
            </a>

            <li *ngIf="login" class="nav-item dropdown">
                <a class="nav-link no-caret" data-toggle="dropdown" role="button" href="javascript:void(0)" (click)="fnLogOut()">
                    <i class="ni ni-ui-04 d-lg-none"></i>
                    <li *ngIf="!login">
                        <a href="javascript:void(0)" (click)="fnLogIn()"></a><button class="login-button" href="#">Cerrar Sesión</button></li>
                </a>
            </li>
        </div>
    </nav>
</body>
<!--<nav>
    <div class="logo">
    <a href="#"><img src="assets/images/logoVerinte.png" alt="Logo"></a>
    </div>

    <ul class="nav-links">
        <li><a href="javascript:void(0)" [routerLink]="'/store'" routerLinkActive="active">INICIO <span class="sr-only">(current)</span></a></li>
        <li><a href="javascript:void(0)" [routerLink]="'/store/profile'" routerLinkActive="active">CÓNOCENOS</a></li>
        <li><a href="#">TIENDA</a></li>
        <li><a href="#">CONTACTO</a></li>
        <a class="nav-link no-caret" data-toggle="dropdown" role="button" href="javascript:void(0)" (click)="fnLogIn()">
            <li *ngIf="!login"><a href="javascript:void(0)" (click)="fnLogIn()"></a><button class="login-button" href="#">Iniciar Sesión</button></li>
        </a>
        <li *ngIf="login" class="nav-item dropdown">
            <a class="nav-link no-caret" data-toggle="dropdown" role="button" href="javascript:void(0)"
                (click)="fnLogOut()">
                <i class="ni ni-ui-04 d-lg-none"></i>

                <li *ngIf="!login"><a href="javascript:void(0)" (click)="fnLogIn()"></a><button class="login-button" href="#">Cerrar Sesión</button></li>
            </a>
        </li>
    </ul>
</nav>
</body> -->